:root{
    --primary-color: #171010;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --button-hover-color: #b4846c;
    --text-hover-color: #911F27;
    --facebook-color: #3b5998;
    --success-color: #28a745;
    --topic-img-height: 400px;
    --love-color: #e31b23;
    --angry-color: #c92929;

    --header-height: 50px;
}

/* Reset Css */
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

/* BUTTON */
.btn{
    display: inline-block;
    outline: none;
    text-decoration: none;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
}

/* CART */
#cartModal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
}

.cart-item__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
    border-radius: 8px;
}

.cart-item__name {
    font-weight: 600;
    width: 180px;
}

.cart-item__price {
    width: 100px;
}

.cart-item__sale-price {
    font-weight: 600;
    width: 140px;
    color: #FF6700;
}

.cart-item__quantity {
    width: 40px;
}

.cart-item__delete-btn i {
    font-size: 28px;
}

.cart-item__delete-btn:hover i {
    color: red;
}

.cart-total {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    margin: 8px 14px 12px 0;
}

.total-title {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 5px;
}

.total-money {
    font-size: 24px;
    color: #FF6700;
    font-weight: 600;
}



/* ANIMATION */

@keyframes growthUp{
    from {
        opacity: 0.7;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growthOver {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

@keyframes slideDown {
    from{
        opacity: 0.5;
        transform: scaleY(0);
    }
    to{
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes avt-1 {
    0% {visibility: visible;}
    33% {visibility: visible;}
    66% {visibility: hidden;}
    100% {visibility: hidden;}
}
@keyframes avt-2 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    66% {visibility: visible;}
    100% {visibility: hidden;}
}
@keyframes avt-3 {
    0% {visibility: hidden;}
    33% {visibility: hidden;}
    66% {visibility: hidden;}
    100% {visibility: visible;}
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
